@charset "utf-8";
/* CSS Document */
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	color: #999
}

#home_geral{
	width: 1200px;
	height: 980px;
	position: relative;
	margin: auto;
}


/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  	width: 1200px;
  	margin: 0 auto;
  	height: 70px;
	position: fixed;
}

.navigation-bar {
    background-color: #04661E;
    height: 70px;
    width: 1200px;
    text-align:center;
	position: fixed;
		
}

.navigation-bar img{
	float:left;
	position: fixed;
	margin-left:-49px
}

.navigation-bar ul {
  	padding: 0px;
  	margin: 0px 0px 0px 191px;
  	text-align:center;
  	display:inline-block;
  	vertical-align:top;
}

.navigation-bar li {
  	list-style-type: none;
  	padding: 10px;
  	height: 24px;
  	margin-top: 4px;
  	margin-bottom: 4px;
  	display: inline;
	border: solid 2px #000000;
	background-color: darkkhaki;
	border-radius: 10px;
}

.navigation-bar li a {
  	color: black;
  	font-size: 16px;
  	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	text-decoration: none;
  	line-height: 70px;
 	padding: 10px;
  	opacity: 0.7;
}

.navigation-bar li:hover{
	
	color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration:underline;
    line-height: 70px;
    padding: 10px;
    opacity: 0,1;
	background-color:#AAA4A4
}

.navigation-bar li.active{
	background: #999999
	
}
	
#side-nav{
	width: 191px;
	height: 980px;
	position: static;
	margin: 70px auto auto;
	
}
.sidenav{
	background-color: #04661E;
    height: 980px;
    width: 191px;
    text-align: center;
	position: static;
	float: left;
	margin-top: 70px
}

#contentbox{
	width: 1009px;
	height: 980px;
	position: static;
	margin: 70px auto auto;
}

.content{
	height: 980px;
    text-align: left;
	position: static;
	float: right;
	margin: 10px auto auto auto;
}
